<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Bienvenidos</h1>
            
            <a href="/signin" class="btn btn-primary">
            Iniciar sesión</a>
            <a href="/signup" class="btn btn-primary">
            Registrarse</a>
        </div>
    </header>
</main>